.fa-instagram{
    font-size: 27px;
    color: gray;
}
span{
    font-style: oblique;
    color: gray;
}
.container3{
text-align: center;
}


.dropdown{
    float: right;
}
.card{
    margin: auto;
    border: none;
}
.card img{
    max-width: 100%;
}
span{
    float:right;
}
.fa-heart-o{
    font-size: 24px;
}
.footer{
   display: flex;
}
